main {
    text-align: center;
    margin: 1rem auto;
    .card {
        height: 200px;
        .card-body {
            position: relative;
            .rate {
                position: absolute;
                left: 10px;
            }
            .btn.detail-btn {
                width: fit-content;
            }
        }
    }
}
